<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      rubyslist > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div id="contact-area">
    <h2>Sign up</h2>
    
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
     <%= devise_error_messages! %>
       <%= f.label :email %>
       <%= f.email_field :email, autofocus: true %><br />
      
       <%= f.label :password %>
       <% if @minimum_password_length %>
       <em>(<%= @minimum_password_length %> characters minimum)</em>
       <% end %><br />
       <%= f.password_field :password, autocomplete: "off" %><br />
       
       <%= f.label :password_confirmation %>
       <%= f.password_field :password_confirmation, autocomplete: "off" %>
       <div class="signin-button">
         <%= f.submit "Sign Up", class: "submit-width" %>
       </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>