<%= javascript_include_tag 'listing.js' %>
<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'adslist', root_path %> > New Listing
    </div>
  </div>
</div>
<div class="container">
  <div id="contact-area">
    <%= form_for @listing do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      
      <%= f.label :description %>
      <%= f.text_area :description %>
      
      <p>
      <%= f.label :category_id %>
      <%= f.select :category_id, Category.all.map { |f| [f.name, f.id] } %>
      </p>
      
      <p>
      <%= f.label :subcategory_id %>
      <%= f.select :subcategory_id, options_for_select([]) %>
      </p>
      
      <%= f.label :city %>
      <%= f.text_field :city %>
      
      <%= f.label :state %>
      <%= f.text_field :state %>
      
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode, class: "zip-width", maxlength: 5 %>
      
      <%= f.submit class: "create-button" %>
   
    <% end %>
  </div>
</div>
