<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'adslist', root_path %> > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div>
    <button type="button">reply</button>
    posted <%= time_ago_in_words(@listing.created_at) %> ago
    <h1 class="listing-header"><%= @listing.title %></h1>
    <div class="box">
      <% if @listing.user == current_user %>
      <p><%= link_to 'edit', edit_listing_path %></p>
      <p><%= link_to 'delete', @listing, method: :delete, data: {confirm: "Are you sure?"} %></p>
      <% end %>
    </div>
    <p>
      <%= @listing.description %>
    </p>
  </div>
  <footer>
    <p>post id: <%= @listing.id %></p>
    <p>posted <%= time_ago_in_words(@listing.created_at) %> ago</p>
  </footer>
</div>

