<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      rubyslist > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div id="contact-area">
  <h2>Forgot your password?</h2>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
 
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %><br />
      <div class="signin-button">
      <%= f.submit "Send reset password instructions", class: "submit-width" %>
      </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
 </div>
</div>
