<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      rubyslist > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div id="contact-area">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages!%>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %><br />

      <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %><br />
    
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <% end -%>
    
      <div class="signin-button">
        <%= f.submit "Log in", class: "submit-width" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>

  </div>
</div>


